<div class="pokemon-league">
  <div class="p-4 sm:p-6 flex flex-col items-center text-center gap-3 sm:gap-5 bg-white rounded-lg">
    <button matButton="tonal">
        Tournament Statistics
      </button>
    <p class="text-2xl sm:text-4xl font-bold">Pokémon League</p>
    <p class="text-sm sm:text-xl max-w-xl px-4 sm:px-0">Explore performance statistics from the latest Pokémon . Sort by metrics to see who's leading the competition!</p>
  </div>
    
    <div class="my-4 sm:my-8 p-4 sm:p-6 flex flex-col sm:flex-row justify-center gap-4 sm:gap-8 bg-white rounded-lg">
        <div class="sortBy">
            <h4 class="mb-2 sm:mb-4 text-center sm:text-left"> Sort By:</h4>
      <mat-form-field class="w-full sm:w-auto">
        <mat-select [value]="sortBy" (selectionChange)="onSortByChange($event.value)">
          <mat-option value="wins">Wins</mat-option>
          <mat-option value="losses">Losses</mat-option>
          <mat-option value="ties">Ties</mat-option>
          <mat-option value="name">Name</mat-option>
          <mat-option value="baseExperience">Id</mat-option>
        </mat-select>
      </mat-form-field>
        </div>

        <div class="direction w-full sm:w-auto">
            <h4 class="mb-2 sm:mb-4 text-center sm:text-left"> Sort Direction:</h4>
      <mat-form-field class="w-full sm:w-auto">
        <mat-select [value]="sortDirection" (selectionChange)="onSortDirectionChange($event.value)">
          <mat-option value="desc">Descending</mat-option>
          <mat-option value="asc">Ascending</mat-option>
        </mat-select>
      </mat-form-field>
        </div>
        
    </div>


  @if (sortedResults.length === 0) {
    <div class="loading text-center mb-6 text-2xl">
      <p>Pokemon cards will be arriving soon</p>
    </div>
  }

  @if (sortedResults.length > 0) {
    <div class="pokemon-grid">
      @for (pokemon of sortedResults; track pokemon.id; let i = $index) {
        <app-pokemon-card 
          [pokemon]="pokemon" 
          [rank]="i + 1">
        </app-pokemon-card>
      }
    </div>
  }
</div>
